{% extends 'core/base.html' %}

{% block content %}
    <br>
    <br>
    
    <form class="jumbotron" action="{% url 'core:create_tweet' %}" method="post">
        <h1 align="center">Type Tweet and Send...</h1>
        <div class="form-group" align="center">
        {% csrf_token %}
        {{ tweet.as_p }}
        <button style="width:30%;" class="btn btn-info btn-outline btn-lg" name="submit"><i class="fas fa-paper-plane fa-2x"></i></button>
    </div>
    <div align="center">
    <p>Twitter Clone by <a href="https://github.com/chilusoft">@chilusoft</a></p>
        <p>Project is under development</p>
    </div>
    </form>
    
{% endblock content %}