{% extends 'core/base.html' %}

{% block content %}
<br>

    <p>All tweets</p>

        </div>
    {% for tweet in tweets %}
        <div align="center">
    <div style="padding: 10px; width: 40%;" class="jumbotron" >
        <p align="left" class="text-info"><b>@username</b> - <small style="font-style: italic;">{{tweet.date_added}}</small></p>
        <hr>
        <div  align="left">
        <p align="left" style="overflow-wrap: break-word ; border-left: 4px solid cadetblue ; border-radius: 5px; width: 100%;padding:5px; font-weight: bold; font-size: larger; text-align: left;">{{ tweet.text}}</p></div>
        
        <div align="center">
            <div align="left">
                <span >
                    <a href="{% url 'core:edit_tweet' tweet.id %}">edit</a>
                </span>
            </div>
           <div>
            <a href=""><span ><i class="fas fa-heart fa"></i> <b>{{tweet.likes}}</b></a><span>  </span>
            <a href=""><span ><i class="fas fa-retweet fa"></i> <b>{{tweet.likes}}</b></a><span>  </span>
            <a href=""><span ><i class="fas fa-share fa"></i> <b>{{tweet.likes}}</b></a><span>  </span>
            </div>    
        </span>
        </div>
        <hr>
    
    </div>    
    {% empty %}
        <p>no one has tweets yet, check back later.....</p>
    {% endfor %}
</div>
{% endblock content %}