{% extends 'core/base.html' %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
    

        </div>
        <div align="center">
        <a href="{% url 'core:create_tweet' %}" class="btn btn-info btn-lg "> Make Tweet <i class="fas fa-plus fa3x"></i> </a>
    </div>
    <br>
    {% for tweet in tweets %}
        <div align="center" class="rol">
    <div style="padding: 10px; margin: 10px; " class="jumbotron col-xs-12 col-sm-6" >
        <p align="left" class="text-info">
            {% if user.is_authenticated %}
                <b>{{user.username}}</b>
            {% else %}
            <b>@anonymous</b>
            {% endif %} - <small style="font-style: italic;">{{tweet.date_added}}</small></p>
        <hr>
        <div  align="left">
        <p align="left" style="overflow-wrap: break-word ; border-left: 4px solid cadetblue ; border-radius: 5px; width: 100%;padding:5px; font-weight: bold; font-size: larger; text-align: left;">{{ tweet.text}}</p></div>
        
        <div align="center">
            <div align="left">
                <span >
                    <a href="{% url 'core:edit_tweet' tweet.id %}" class="btn btn-sm btn-info">edit tweet <i class="fas fa-edit"></i> </a>
                </span>
            </div>
           <div>
            <a href=""><span ><i class="fas fa-heart fa"></i> <b>{{tweet.likes}}</b></a><span>  </span>
            <a href=""><span ><i class="fas fa-retweet fa"></i> <b>{{tweet.retweets}}</b></a><span>  </span>
            <a href=""><span ><i class="fas fa-share fa"></i> <b>{{tweet.shares}}</b></a><span>  </span>
            </div>    
        </span>
        </div>
        <hr>
    
    </div>    
    {% empty %}

        <div class="jumbotron" align="center" >
            <h4>
                No tweets yet, be the first to add a tweet by click the add tweet button. :-)
            </h4>
            <div align="center">
                <a href="{% url 'core:create_tweet' %}" class="btn btn-info btn-lg "> Make Tweet <i class="fas fa-plus fa3x"></i> </a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}